<div class="overflow-hidden rounded shadow-md text-slate-500 shadow-slate-200">
  <div class="p-6">
    <header class="mb-4">
      <h3 class="text-xl font-medium text-slate-700">Details for: <%= @job_posting.title %></h3>
      <p class="text-sm text-slate-400">Company: <%= @job_posting.company_profile.name %></p>
    </header>

    <div>
      <% @job_posting.tag_list.each do |tag| %>
        <span><%= tag %></span>
      <% end %>
    </div>

    <% if authenticated? && @job_posting.maximum_tags %>
      <%= link_to "Add Tag", new_job_posting_tag_path(@job_posting), class: "block w-full py-2 text-center text-white bg-slate-700 hover:bg-slate-800" %>
    <% end %>

    <p>Job Type: <%= @job_posting.job_type.name %></p>
    <p>Salary: <%= @job_posting.salary %> | <%= @job_posting.salary_currency %></p>
    <p>Salary Period: <%= @job_posting.salary_period %></p>
  </div>
  <%= link_to 'Back', root_path, class: 'block w-full py-2 text-center text-white bg-slate-700 hover:bg-slate-800' %>
</div>
