<div class="overflow-hidden rounded shadow-md text-slate-500 shadow-slate-200 w-96">
  <div class="p-6">
    <header class="mb-4">
      <h3 class="text-xl font-medium text-slate-700">Details for: <%= @job_posting.title %></h3>
      <p class="text-sm text-slate-400">Company: <%= @job_posting.company_profile.name %></p>
    </header>

    <div class="flex gap-2 my-3">
      <% @job_posting.tag_list.each do |tag| %>
        <div class="flex items-center w-auto gap-4 px-2 py-2 overflow-hidden text-sm rounded bg-slate-100 text-slate-700 shadow-slate-500/20 ring-1 ring-inset ring-slate-200" role="status">
          <!-- Text -->
          <p class="flex-1"><%= tag %></p>
          <!-- Close button -->
          <button aria-label="Close" class="inline-flex items-center justify-center h-8 gap-2 px-2 text-xs font-medium tracking-wide transition duration-300 rounded-full justify-self-center whitespace-nowrap text-slate-500 hover:bg-slate-200 hover:text-slate-600 focus:bg-slate-300 focus:text-slate-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:text-slate-600 disabled:shadow-none disabled:hover:bg-transparent">
            <span class="relative only:-mx-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" role="graphics-symbol" aria-labelledby="title-20 desc-20">
                <title id="title-20">Icon title</title>
                <desc id="desc-20">A more detailed description of the icon</desc>
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </span>
          </button>
        </div>
      <% end %>
    </div>

    <!-- Component: Basic text light themed notification with close button -->

<!-- End Basic text light themed notification with close button -->

    <% if authenticated? && @job_posting.maximum_tags %>
      <%= link_to "Add Tag", new_job_posting_tag_path(@job_posting), class: "block w-auto p-2 text-center text-white bg-slate-700 hover:bg-slate-800" %>
    <% end %>

    <p>Job Type: <%= @job_posting.job_type.name %></p>
    <p>Salary: <%= @job_posting.salary %> | <%= @job_posting.salary_currency %></p>
    <p>Salary Period: <%= @job_posting.salary_period %></p>
  </div>
  <%= link_to 'Back', root_path, class: 'block w-full py-2 text-center text-white bg-slate-700 hover:bg-slate-800' %>
</div>
