<div class="overflow-hidden rounded shadow-md text-slate-500 shadow-slate-200 w-96">
  <div class="p-6">
    <header class="mb-4">
      <h3 class="text-xl font-medium text-slate-700"><%= JobPosting.model_name.human %> <%= @job_posting.title %></h3>
      <p class="text-sm text-slate-400"><%= JobPosting.human_attribute_name(:company_profile) %>: <%= @job_posting.company_profile.name %></p>
    </header>

    <div class="flex gap-2 my-3" id="tags">
      <% @job_posting.tag_list.each do |tag| %>
        <div class="flex items-center w-auto gap-4 px-2 py-2 overflow-hidden text-sm rounded bg-slate-100 text-slate-700 shadow-slate-500/20 ring-1 ring-inset ring-slate-200" role="status">
          <p class="flex-1"><%= tag %></p>
        </div>
      <% end %>
    </div>

    <p><%= JobPosting.human_attribute_name(:job_type) %>: <%= @job_posting.job_type.name %></p>
    <p><%= JobPosting.human_attribute_name(:salary) %>: <%= @job_posting.currency_format %> | <%= JobPosting.human_enum_name("salary_currency", @job_posting.salary_currency) %></p>
    <p><%= JobPosting.human_attribute_name(:salary_period) %>: <%= JobPosting.human_enum_name("salary_period", @job_posting.salary_period) %></p>
  </div>
  <%= link_to t(".back"), root_path, class: 'block w-full py-2 text-center text-white bg-slate-700 hover:bg-slate-800' %>
</div>
